@media only screen and (max-width: 800px) {
    .home_options_option > button{
        font-size: 22px;
        color: #E8F0F2;
        margin-bottom: 8px;
    }



    @keyframes slide {
        0% {
            transform: translate(-100%, 0px)
        }
        100% {
            transform: translate(0%, 0px)
        }
    }
    
    @keyframes slideInvert {
        0% {
            transform: translate(100%, 0px)
        }
        100% {
            transform: translate(0%, 0px)
        }
    }
    
    @keyframes longSlide {
        0% {
            transform: translate(-200%, 0px)
        }
        100% {
            transform: translate(0%, 0px)
        }
    }
    
    @keyframes longSlideInvert {
        0% {
            transform: translate(200%, 0px)
        }
        100% {
            transform: translate(0%, 0px)
        }
    }

    .home_options_option_div_selectedNoAnim {
        width: 7rem;
    }

    .home_options_option_div_selected {
        width: 7rem;
        animation-name: slide;
        animation-duration: 0.5s
    }

    .home_options_option_div_selectedInverted {
        width: 7rem;
        animation-name: slideInvert;
        animation-duration: 0.5s
    }

    .home_options_option_div_longSelected {
        width: 7rem;
        animation-name: longSlide;
        animation-duration: 1s
    }

    .home_options_option_div_longSelectedInverted {
        width: 7rem;
        animation-name: longSlideInvert;
        animation-duration: 1s
    }

    .home_options_option_div_not_selected {
        height: 8px;
        background-color: #123A6B;
        width: 7rem;
    }

}

  