@media only screen and (max-width: 800px) {

    .curriculum_viewer_container {
        width: 95%;
        height: 100% !important;
        padding-bottom: 24px;
        border-radius: 8px;
        background-color: #133A6B;
        margin-bottom: 3rem;  
    }

    .curriculum_viewer_title {
        margin: 5px 0px;
        font-size: 1rem;
        color: white;
    }

    .curriculum_slider_image {
        width: 100%;
        border-radius: 8px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .curriculum_slider_arrow_left {
        margin-right: -1px;
    }
    
    .curriculum_slider_arrow_right {
        margin-left: -1px;
    }

    .curriculum_slider_arrow_left svg{
        height: 1.5rem;
        width: 1.5rem;
    }
    
    .curriculum_slider_arrow_right svg{
        height: 1.5rem;
        width: 1.5rem;
    }

}